<menu></menu>


<div class="pageWrapper">



	<div class="listWrapper">

		<div class="searchResultsListing" ng-repeat="listing in searchResults.flightListings | orderBy: 'saleTotal' | filter: filterFunc1">
			<div class="whiteBackground">
				<div class="dataWrapper">
					<!--OUTBOUND---------------------------------------------------------------->
					<div class="outboundData">
						<div class="column">
							<div class="label">Departing</div>
							<div class="tripLabel" ng-show="isShown('roundtrip')">Outbound</div>
							<div ng-repeat="segment in listing.slice[0].segment">
								<div ng-repeat="leg in segment.leg">
									<div class="secondRow bold">{{leg.originName}} ({{leg.origin}})</div>
									<div class="thirdRow">{{leg.cleanDepartureTime | date: 'h:mm a' }}</div>
									<div class="fourthRow">{{leg.cleanDepartureTime | date: 'MMM d, y'}}</div>
								</div>
							</div>
						</div>

						<div class="column">
							<div class="label">Arriving</div>
							<div class="tripLabel" ng-show="isShown('roundtrip')">
								<br>
							</div>
							<div ng-repeat="segment in listing.slice[0].segment">
								<div ng-repeat="leg in segment.leg">
									<div class="secondRow bold">{{leg.destinationName}} ({{leg.destination}})</div>
									<div class="thirdRow">{{leg.cleanArrivalTime | date: 'h:mm a'}}</div>
									<div class="fourthRow">{{leg.cleanArrivalTime | date: 'MMM d, y'}}</div>
								</div>
							</div>
						</div>

						<div class="column">
							<div class="label">Flight</div>
							<div class="tripLabel" ng-show="isShown('roundtrip')">
								<br>
							</div>
							<div ng-repeat="segment in listing.slice[0].segment">
								<div class="secondRow bold carrierName">{{segment.flight.carrier}}</div>
								<div class="thirdRow">{{segment.flight.number}}</div>
								<div class="fourthRow">
									<br>
								</div>
							</div>
						</div>

						<div class="column">
							<div class="label">Duration</div>
							<div class="tripLabel" ng-show="isShown('roundtrip')">
								<br>
							</div>
							<div ng-repeat="segment in listing.slice[0].segment">
								<div class="secondRow">
									<br>
								</div>
								<div ng-repeat="leg in segment.leg" class="thirdRow">{{leg.cleanDuration}}</div>
								<div class="fourthRow">
									<br>
								</div>
							</div>
						</div>


					</div>

					<!--RETURN---------------------------------------------------------------->

					<div class="returnData" ng-show="isShown('roundtrip')">

						<div class="column">
							<div class="tripLabel">Return</div>
							<div ng-repeat="segment in listing.slice[1].segment">
								<div ng-repeat="leg in segment.leg">
									<div class="secondRow bold">{{leg.originName}} ({{leg.origin}})</div>
									<div class="thirdRow">{{leg.cleanDepartureTime | date: 'h:mm a' }}</div>
									<div class="fourthRow">{{leg.cleanDepartureTime | date: 'MMM d, y'}}</div>
								</div>
							</div>
						</div>

						<div class="column">
							<div class="tripLabel">
								<br>
							</div>
							<div ng-repeat="segment in listing.slice[1].segment">
								<div ng-repeat="leg in segment.leg">
									<div class="secondRow bold">{{leg.destinationName}} ({{leg.destination}})</div>
									<div class="thirdRow">{{leg.cleanArrivalTime | date: 'h:mm a'}}</div>
									<div class="fourthRow">{{leg.cleanArrivalTime | date: 'MMM d, y'}}</div>
								</div>
							</div>
						</div>

						<div class="column">
							<div class="tripLabel">
								<br>
							</div>
							<div ng-repeat="segment in listing.slice[1].segment">
								<div class="secondRow bold">{{segment.flight.carrier}}</div>
								<div class="thirdRow">{{segment.flight.number}}</div>
								<div class="fourthRow">
									<br>
								</div>
							</div>
						</div>

						<div class="column">
							<div class="tripLabel">
								<br>
							</div>
							<div ng-repeat="segment in listing.slice[1].segment">
								<div class="secondRow">
									<br>
								</div>
								<div ng-repeat="leg in segment.leg" class="thirdRow">{{leg.cleanDuration}}</div>
								<div class="fourthRow">
									<br>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="rightSection">
					<div class="column" ng-repeat="pricing in listing.pricing">
						<div class="label">Passengers</div>
						<div class="secondRow bold passengers">{{pricing.passengers.adultCount}}</div>
					</div>

					<div class="column">
						<div class="label lastLabel">Price</div>
						<div class="bigCell bold">{{listing.saleTotal | currency}}</div>
					</div>

				</div>




			</div>

			<div class="buttonWrapper" ng-show="authedUser">
				<div class="column saveButtonDiv">
					<input type="button" class="saveButton" value="Save to&#13;&#10;Trips" ng-click="showHideSaveModal(); setSelectedItinerary(listing)"
					/>
				</div>
			</div>




		</div>







	</div>

	<!---------------Filter-------------------->
	<div class="filterSection">
		
		<div class="modifySearch">
			<input type="button" class="modifySearchButton" value="Modify Search" ng-click="showHideModifySearchModal()" />
		</div>
	<div class="filterWrapper">
		
		<div class="filterLabel">Filter Search Results</div>
		<div class="filters">
			<div class="originFilter">
				<div class="smallFilterLabel">Cities</div>
				<div class="chipSection">
					<div class="airlineChip" ng-class="{isBlue: city.on, isBlack: !city.on}" ng-repeat="city in searchResults.cleanOriginsAndDestinations | orderBy: 'cityName'"
					ng-click="city.on = !city.on">
						<div>{{city.cityName}} ({{city.airportCode}})</div>
					</div>
				</div>
			</div>


			<div class="airlineFilter">
				<div class="smallFilterLabel">Airlines</div>
				<div class="chipSection">
					<div class="airlineChip" ng-repeat="airline in searchResults.cleanAirlines | orderBy: 'name'" ng-class="{isBlue: airline.on, isBlack: !airline.on}"
					ng-click="airline.on = !airline.on">
						<div>{{airline.name}}</div>
					</div>
				</div>

			</div>

		</div>
	</div>
	</div>
</div>



<!---------------------Save to Trip Modal------------------------->

<div id="overlay">
	<div class="overlayInside">

		<div class="chooseTrip">
			<div class="modalLabel">Choose Trip</div>
			<label>
				<select name="selection" type="number" ng-model="tripName" ng-options="trip for trip in tripsDropdown"></select>
			</label>
		</div>

		<div class="modalButton" ng-click="newTripInputShown = !newTripInputShown; typingNewTripName = !typingNewTripName" ng-show="typingNewTripName">NEW TRIP</div>



		<label class="tripNameInput" ng-show="newTripInputShown">
			<span class="modalLabel">Trip Name:</span>
			<input type="string" ng-model="newTripName" class="tripNameInputField" />
		</label>



		<div class="modalButtons">
			<div class="modalButton" ng-click="showHideSaveModal()">CANCEL</div>
			<div class="modalButton" ng-click="addTrip()">SAVE</div>
		</div>

	</div>
</div>

<!-------------------------Modify Search Modal------------------------>

<div id="modifySearchModal">
	<div class="modifySearchInside">
		<div class="formBackground">
			<form action="" method="post" class="flightSearch searchForm">
				<h1>Search Flights</h1>
				<!--Trip Type-->
				<div class="radioButtons">
					<label>One-way
						<input id="oneway" type="radio" name="name" ng-model="tripType" value="oneway" />
					</label>
					<label>Round-trip
						<input id="roundtrip" type="radio" name="name" ng-model="tripType" value="roundtrip" />
					</label>
				</div>
				<!--Destination-->
				   <div class="destinationInput">
                <label>
                    <span>Destination:</span>
                    <select name="selection" ng-model="destination" class="destination">
                        <option value=AMS>Amsterdam, The Netherlands (AMS)</option>
                        <option value=ATL>Atlanta, United States (ATL)</option>
                        <option value=BKK>Bangkok, Thailand (BKK)</option>
                        <option value=PEK>Beijing, China (PEK)</option>
                        <option value=SIN>Changi, Singapore (SIN)</option>
                        <option value=CLT>Charlotte, United States (CLT)</option>
                        <option value=CTU>Chengdu, China (CTU)</option>
                        <option value=ORD>Chicago, United States (ORD)</option>
                        <option value=DFW>Dallas-Fort Worth, United States (DFW)</option>
                        <option value=DEL>Delhi, India (DEL)</option>
                        <option value=DEN>Denver, United States (DEN)</option>
                        <option value=DXB>Dubai, United Arab Emirates (DXB)</option>
                        <option value=FRA>Frankfurt, Germany (FRA)</option>
                        <option value=CAN>Guangzhou, China (CAN)</option>
                        <option value=HKG>Hong Kong, China (HKG)</option>
                        <option value=IST>Istanbul, Turkey (IST)</option>
                        <option value=CGK>Jakarta, Indonesia (CGK)</option>
                        <option value=KUL>Kuala Lumpur, Malaysia (KUL)</option>
                        <option value=LAS>Las Vegas, United States (LAS)</option>
                        <option value=LHR>London, United Kingdom (LHR)</option>
                        <option value=LAX>Los Angeles, United States (LAX)</option>
                        <option value=MIA>Miami, United States (MIA)</option>
                        <option value=JFK>New York City, United States (JFK)</option>
                        <option value=CDG>Paris, France (CDG)</option>
                        <option value=PHX>Phoenix, United States (PHX)</option>
                        <option value=SFO>San Francisco, United States (SFO)</option>
                        <option value=GRU>São Paulo, Brazil (GRU)</option>
                        <option value=ICN>Seoul, South Korea (ICN)</option>
                        <option value=PVG>Shanghai, China (PVG)</option>
                        <option value=HND>Tokyo, Japan (HND)</option>
                    </select>
                </label>
            </div>
				
				
				<!--Departure Date-->
				<div class="dateInput">
					<label>
						<span>Depart:</span>
						<datepicker date-year-title="selected title" date-format="yyyy-MM-dd">
							<input type="string" ng-model="departureDate" class="date" />
						</datepicker>
					</label>
					<!--Return Date-->
					<label ng-show="isShownModifyModal('roundtrip')">
						<span>Return:</span>
						<datepicker date-year-title="selected title" date-format="yyyy-MM-dd">
							<input type="string" ng-model="returnDate" class="date" />
						</datepicker>
					</label>
				</div>
				<!--Passengers-->
				<div class="passengerInput">
					<label>
						<span>Passengers:</span>
						<select name="selection" type="number" ng-model="passengerCount" class="passengerInputDropdown">
							<option value=1>1</option>
							<option value=2>2</option>
							<option value=3>3</option>
							<option value=4>4</option>
						</select>
					</label>
				</div>
				<!--Search Button-->
				<div class="submitSearch">
					<label>
						<input type="button" class="button modifySearchModalButton" value="Cancel" ng-click="showHideModifySearchModal()">
						<input type="button" class="button modifySearchModalButton" value="Search" ng-click="search()" />
					</label>
				</div>
			</form>
		</div>
	</div>
</div>


<!---------------------Load Results Modal------------------------->

<div id="loadModal">
	<div class="loadModalInside">
		<div class="modalLabel">Finding Flights</div>
		<img src="/shared/img/plane.GIF" alt="">
	</div>
</div>

<!---------------------Error Modal------------------------->

<div id="errorModal">
    <div class="errorModalInside">
        <div class="modalLabel">Daily search limit exceeded.  Please try again tomorrow.</div>
    </div>
</div>

<div class="photoCredit">Photo credit: <a href="http://www.flickr.com/photos/84493444@N00/">williamcho</a> via <a href="http://foter.com/">Foter.com</a> / <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">CC BY-NC-SA</a></div>