<menu></menu>
<div class="tripBackground">
<div class="tripPageWrapper">
	<div class="myTripsWrapper">
		<div class="selectATripMenuLabel">Select A Trip</div>
		<div class="tripList" ng-repeat="trip in trips">
			<div class="tripListing">
				<div class="tripInfoSection" ng-click="getSelectedTrip(trip)">
					<div>{{trip.name}}</div>
					<div ng-repeat="itinerary in trip.itinerary"></div>
					<div class="tripPrice">{{trip.totalPrice | currency}}</div>
				</div>
				
				<div class="deleteTripButtonWrapper"><input type="button" class="deleteTrip saveButton" ng-click="deleteTrip(trip._id)" value="Delete"></input></div>
				
			</div>
		</div>
	</div>

	<div class="selectedTripDiv">
		<div class="selectATrip" ng-show="!selectedTrip">Select A Trip</div>
		<div class="tripNameLabel">{{selectedTrip.name}}</div>
		<trip ng-repeat="itinerary in selectedTrip.itineraries"></trip>
	</div>
</div>
</div>