<menu></menu>	

<div class="backgroundImage"></div>

<div class="formBackground">
    <form action="" method="post" class="flightSearch searchForm">
        <h1>Search Flights</h1>


<!--Trip Type-->
        <div class="radioButtons">
            <label>One-way
                <input id="oneway" type="radio" name="name" ng-model="userInput.tripType" value="oneway"/>
            </label>
            <label>Round-trip
                <input id="roundtrip" type="radio" name="name" ng-model="userInput.tripType" value="roundtrip"/>
            </label>
        </div>

<!--Destination-->
        <div class="destinationInput">
            <label>
                <span>Destination:</span>
                <input list="airports" type="string" ng-model="userInput.destination" class="destination"/>
            </label>
        </div>

        
        <datalist id="airports"></datalist>


        <div class="dateInput">
            <label>
                <span>Depart:</span>
                <datepicker date-year-title="selected title" date-format="yyyy-MM-dd">
                    <input type="string" ng-model="userInput.departureDate" class="date"/>
                </datepicker>
            </label>


            <label ng-show="showReturnDate()">
                <span>Return:</span>
                <datepicker date-year-title="selected title" date-format="yyyy-MM-dd">
                    <input type="string" ng-model="userInput.returnDate" class="date"/>
                </datepicker>
            </label>
        </div>

        <div class="passengerInput">
            <label>
                <span>Passengers:</span>
                <select name="selection" ng-model="userInput.passengerCount">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                </select>
            </label>
        </div>

        <div class="submitSearch">
            <label>
                <input type="button" class="button" value="Search" ng-click="search()"/>
            </label>
        </div>

    </form>
</div>
<div class="titleBackground"></div>
<div class="title">
    SkyNautilus
</div>

<div class="catchyPhrase">Reverse flight search</div>


<!---------------------Login Modal------------------------->

<div id="loginModal">
	<div class="loginModalInside">
        
	</div>
</div>


<!---------------------Load Results Modal------------------------->

<div id="loadModal">
	<div class="loadModalInside">
        <div class="modalLabel">Finding Flights</div>
        <img src="/shared/img/plane.gif" alt="">
        <!--<iframe src="//giphy.com/embed/QRijqQ3JRF876" width="250" height="100" frameBorder="0" allowFullScreen></iframe>-->
	</div>
</div>

